/*This is the stylesheet for graduate student web templates 1.*/
/*body elements*/
body {
    font-family: verdana, "trebuchet MS", helvetica, sans-serif;
    color: #949070;
    background-color: #7D7ASE;
    margin: 0;
 }
 p {
     font-size: small;
     line-height: 1em;
 }
 h1, h2, h3 {
     font-family: georgia, "Times New Roman," serif;
}
h2 {
    font-size: medium;
 }
 /*bodycontent ids*/

 /*header ids*/
 #masthead {
/*     background: #859acf url(i/University_of_Virginia_Rotunda_2006.jpg) no-repeat top right; */
     width: 100%;
     border-bottom: 1px solid #859acf;
     padding: 10px 0 3px 0;
     margin: 0 0 3px 0;
                }
                #masthead img {
                    float: left;
                    margin: 5px 0 0 20px;
                }
                #masthead h1 {
                    color: #103f59;
                    padding: 30px 0 0 0;
                    margin: 0 0 0 20px;
                }
                #masthead h2 {
                    color: black;
                    margin: 5px 0 20px 50px;
                }
                /*navigation ids and link styles*/
                #navigation {
                    float: left;
                    padding: 8px 0 0 0;
                    margin: 0 0 20px 0;
                    width: 100%;
                    border-top: 1px solid #859acf;
                    }
                    #navigation ul {
                        text-transform: uppercase;
                        letter-spacing: .1em;
                        font-size: small;
                        margin-left: 10px;
                        padding-left: 0;
                        padding-top: 20px;
                        display: inline;
} 
#navigation ul li {
    margin-left: 0;
    padding: 3px 15px;
    border-left: 1px solid #000;
    list-style: none;
    display: inline;
}
#navigation ul li.first {
    margin-left: 0;
    border-left: none;
    list-style: none;
    display: inline;
    color: black;
}
a {
    font-weight: bold;
    color: #949070;
    text-decoration: none;
}
a: link {
    color: #949070;
 }
 a:visited {
     color: #949070;
                }
                a:hover {
                    color: white;
                    background-color: #949070;
            }
            a:active: {
                border: 1px dashed #949070;
                }
                /*student-information ids*/
                #student-information {
                    float: left;
                    width: 100%; 
                    margin: 0 0 30px 0;
}
#student-information img {
    float: left;
    /*    border: 1px solid #949070;*/
    padding: 3px;
    margin: 27px 17px 17px 27px;
    width: 150px;
}
#student-information dl {
    float: left;
    padding: 10px 60px 30px 0;
    width: 30%;
    color: #949070;
                     }
                             #student-information dd {
                                 font-size: small;
                                 line-height: 2em;
                                 padding: 0;
                                 margin: 0;
                             }
                             #student-information dt {
                                 font-family: georgia, "Times New Roman," serif;
                                 font-size: medium;
                                 font-weight: bold;
                                 letter-spacing: 1px;
                             }
                             #student-information blockquote {
                                 float: right;
                                 width: 30%;
                                 background-color: #e6e2af;
                                 color: #949070;
                                 border: 1px dashed black;
                                 margin: 30px 30px 30px 0;
                                 padding: 20px;
             }
             #student-information p {
                 font-family: georgia, "Times New Roman," serif;
                 font-size: medium;
                 line-height: 2em;
}
#student-information cite {
    float: right;
    font-family: georgia, "Times New Roman," serif;
    font-size: small;
}
#student-information a:link {
    color: #949070;
}
#student-information a:hover {
    color: white;
    background-color: #949070;
}
/*bodycontent ids*/
#bodycontent {
    clear: both;
    margin: 20px 30px 0 30px;
}
#bodycontent dt {
    font-family: georgia, "Times New Roman," serif;
    font-size: medium;
    font-weight: bold;
     }
     #bodycontent dd {
         font-size: small;
         line-height: 2em;
         padding: 10px 0 0 0;
         margin: 0;
     }
     /*Education and Professional Experience ids*/
     #education {
         float: left;
         width: 100%;
         margin: 0 30px 0 30px;
}
#education dd {
    font-size: small;
    line-height: 1.8em;
    margin: 0px;
}
#education dt {
    font-family: georgia, "Times New Roman," serif;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px 0 10px 0;
                }
                #professional-experience {
                    float: left;
                    margin: 0px 30px 20px 30px;
                    width: 100%;
                                             }
                                             #professional-experience dd {
                                                 margin: 10px 0 0 0;
                                                 line-height: 1.8em;
                                                 font-size: small;
                                             }
                                             #professional-experience dt {
                                                 font-family: georgia, "Times New Roman," serif;
                                                 font-size: medium;
                                                 font-weight: bold;
                                                 letter-spacing: 1px;
                                                 margin: 5px 0 0px 0;
                }				
                /*runner id*/
                #runner {
                    clear: both;
                    text-align: center;
                    border-top: 1px solid #949070;
                    padding: 20px 30px 10px 30px;
                    }
                    #runner ul {
                        font-family: georgia, "Times New Roman," serif;
                        letter-spacing: .1em;
                        font-size: small;
                        display: inline;
} 
#runner ul li {
    margin-left: 0;
    padding: 3px 15px;
    display: inline;
    list-style: none;
    border-left: 1px solid black;
}
#runner ul li.first {
    margin-left: 0;
    border-left: none;
    display: inline;
    color: #949070;
}
